<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redding.rbac.infrastructure.mapper.OrganizationRoleMapper">
  <resultMap id="BaseResultMap" type="com.redding.rbac.infrastructure.domain.OrganizationRole">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="organizationId" jdbcType="INTEGER" property="organizationId" />
    <result column="roleId" jdbcType="INTEGER" property="roleId" />
  </resultMap>
</mapper>