<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redding.rbac.infrastructure.mapper.OrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.redding.rbac.infrastructure.domain.Organization" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createdDate" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updatedDate" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="parentId" property="parentId" jdbcType="INTEGER" />
    <result column="pidList" property="pidList" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="enterpriseId" property="enterpriseId" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectSelfAndSub" resultType="Organization">
    SELECT id,parentId,name,enterpriseId FROM tb_organization WHERE (find_in_set(#{id}, pidList) or id = #{id}) and enterpriseId = #{enterpriseId}
  </select>
</mapper>