<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redding.rbac.infrastructure.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.redding.rbac.infrastructure.domain.Role" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createdDate" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updatedDate" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="enterpriseId" property="enterpriseId" jdbcType="INTEGER" />
    <result column="parentId" property="parent" jdbcType="INTEGER" />
    <result column="pidList" property="pidList" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectUserRoles" resultType="Role" parameterType="java.util.HashMap">
    SELECT distinct r.id,r.name,r.state,r.description FROM tb_user u,tb_user_role ur,tb_role r
    WHERE
    AND u.id = ur.userId
    AND r.id = ur.roleId
    AND (find_in_set(r.id, r.pidList) OR r.id IN(SELECT roleId FROM tb_user,tb_user_role WHERE tb_user.id = tb_user_role.userId AND userId=1))
    AND u.enterpriseId = 1
  </select>
</mapper>