<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redding.rbac.infrastructure.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.redding.rbac.infrastructure.domain.User" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="createdDate" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updatedDate" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="nickName" property="nickName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="enterpriseId" property="enterpriseId" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectOrgUsers" resultMap="BaseResultMap">
    SELECT u.* FROM tb_user u,tb_organization_user ou,tb_organization o
    WHERE ou.organizationId = o.id
    AND ou.userId = u.id
    AND (find_in_set(#{organizationId}, o.pidList) or o.id = #{organizationId}) and o.enterpriseId = #{enterpriseId}
    <if test="keyword != null and keyword != ''.toString()">
      AND (name LIKE #{keyword} OR email LIKE #{keyword} or phone LIKE #{keyword})
    </if>
    <if test="state != null">
       AND state = #{state}
    </if>
  </select>
</mapper>